
<%= form_tag({:action => 'save_edits'}, { id: "edit_form" ,:multipart => true}  ) do %>
	
<% unless @user.errors.full_messages.empty? %>
	<div id="edit_error">
		<ul>
			<% @user.errors.full_messages.each do |msg|%>
				<li> <%= msg%></li><br>
			<%end%>
		</ul>
	</div>
<%end%>

	<%= text_field_tag('first_name',@user.first_name , class: "auth_field" ,placeholder: " First Name" )%>  
	<%= text_field_tag('last_name',@user.last_name , class: "auth_field" ,placeholder: " Last Name" )%> 
	<%= text_field_tag('email',@user.email , class: "auth_field" ,placeholder: " Email" )%>
	<%= password_field_tag('password',"" , class: "auth_field" ,placeholder: " Password" )%> 
	<%= password_field_tag(:password_confirmation,"" , class: "auth_field" ,placeholder: " Password Confirmation" )%>
	<%= text_field_tag('phone_number',@user.phone_number , class: "auth_field" ,placeholder: " Phone Number" )%>
	<%= text_field_tag('birth_date',@user.birth_date , class: "auth_field" ,placeholder: " Birth date : yyyy-mm-dd" )%>
	<%= text_field_tag('hometown', @user.hometown  , class: "auth_field" ,placeholder: " Hometown" )%>
	<%= text_area_tag('about_me',  @user.about_me, size: "5x5" , placeholder: "About me") %>

	<br><hr>
	<%= radio_button_tag(:marital_status, "Single" , @single) %>
	<%= label_tag(:marital_status, "Single") %>
	<%= radio_button_tag(:marital_status, "Engaged" , @engaged) %>
	<%= label_tag(:marital_status, "Engaged") %>
	<%= radio_button_tag(:marital_status, "Married" , @married) %>
	<%= label_tag(:marital_status, "Married") %> <hr>
	<%= radio_button_tag(:gender, "Male" ,@male ) %>
	<%= label_tag(:gender, "Male") %>
	<%= radio_button_tag(:gender, "Female" ,@female ) %>
	<%= label_tag(:gender, "Female") %> <br><hr>
	<%= label_tag(:profile_picture, "Choose a new profile picture :", class: "auth_field") %> 
	<%= file_field_tag(:profile_picture, class: "auth_field")%>
	<hr><br>

	<%= submit_tag("Save" , id: "signup_but")%>

<%end%>
